{% extends 'base.html' %}

{% load static %}

{% block content %}
{% for exer in users_workout %}


<div class="card mx-auto m-3 text-center shadow" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title text-decoration-underline">{{exer.exercise}}</h5>
        <p class="card-text text-muted">{{exer.day}}</p>
        <p class="card-text">Reps: {{exer.reps}}</p>
        <p class="card-text">Number of sets: {{exer.num_sets}}</p>
        <p class="card-text">Weight used: {{exer.weight_used}}</p>
        <p class="card-text">Notes: {{exer.note}}</p>
    </div>
</div>
{% endfor %}

<!--  -->




{% endblock content %}