<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chirp Index</title>
</head>
<body>
    {% for chirp in latest_chirps %}
        <h2>{{ chirp.user }}</h2>
        <p>{{ chirp.text }}</p>
        <p>{{ chirp.created_at }}</p>
        <p>id: {{ chirp.id }}</p>
        <p>count: {{ chirp.like_set.all.count }}</p>
    {% endfor %}
</body>
</html>