<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Todo List</title>
    <script src="https://unpkg.com/vue@3" defer></script>
    <script src="js/site.js" defer></script>
    <link rel="stylesheet" href="css/site.css">
</head>
<body>
    <div id="app">
        <label for="addTask">Add task: </label>
        <input id="addTask" type="text" v-on:keyup.enter="addTodo">
        <ul id="tasks">
            <li v-for="(todo,index) in todos">
                <input type="checkbox" v-on:click="completeTodo(index)" v-if="todo.complete" checked>
                <input type="checkbox" v-on:click="completeTodo(index)" v-else>
                <a v-on:click="deleteTodo(index)" href="#">remove</a>
                {{ todo.task }}
            </li>
        </ul>
    </div>
</body>
</html>