<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Todo List</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"
        defer></script>
    <script src="https://unpkg.com/vue@3" defer></script>
    <script src="js/site.js" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/site.css">
</head>

<body>

    <div id="app">

        <div class="container">

            <div class="form-floating mb-3">
                <input id="addTask" class="form-control" type="text" v-on:keyup.enter="addTodo" placeholder=" ">
                <label for="addTask">add task &lt;press enter&gt;</label>
            </div>


            <ul id="tasks">
                <li v-for="(todo,index) in todos">
                    <a class="icon delete fa-solid fa-square-xmark" v-on:click="deleteTodo(index)" href="#"></a>
                    <a class="icon fa-solid fa-square-check" v-if="todo.complete" v-on:click="completeTodo(index)"></a>
                    <a class="icon fa-solid fa-square" v-else v-on:click="completeTodo(index)"></a>
                    {{ todo.task }}
                </li>
            </ul>

            <p><a href="#" v-on:click="clearTodos">clear</a></p>

        </div>

    </div>

</body>

</html>