.terminal {
    padding:50px;
    text-align:center;
}
.terminal, .terminal input {
    color: lime;
    background: black;
    font: 18pt monospace;
}
.terminal input {
    border:1px solid green;
    background: #1c1d1c;
}
.terminal .valid {
    color: lime;
}
.terminal .invalid {
    color: red;
}