*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: linear-gradient(#18010d, #2E0219);
}

#grid{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 5px;
    min-height: 100vh;
}

header, footer{
    grid-column-start: 1;
    grid-column-end: 3;
}

#header-background{
    background: url("https://cdn.shopify.com/s/files/1/1474/8146/t/3/assets/slideshow_2_1200x.jpg?v=96849258345376931501638906854");
    position: relative;
    width: 100%;
    min-height: 221px;
    background-size: cover;
}

header div{
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2E0219;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: white;
    font-family: 'Satisfy', cursive;
    font-size: large;
}

header p{
    color: #97EFE9;
}

footer{
    background: #97EFE9;
    min-height: 50px;
    
}

footer div{
    display: flex;
    align-items: center;
    min-height: 100%;
}

footer p{
    margin-left: 10px;
}

#tags{
    display: flex;
    min-height: auto;
    position: absolute;
    right: 10px;
}

footer img{
    max-width: 2rem;
    max-height: 2rem;
    margin: 0.5rem;
}

.inner{
    border-radius: 5px;
}



aside{
    padding: 5px;
}

aside ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

aside li:hover{
    background: #6A0F49;
    color: #A7C4C2;
    cursor: pointer;
}

.menu-items{
    padding-right: 5px;
    padding-left: 5px;
    background: #A7C4C2;
    border-radius: 5px;
    color: #6A0F49;
}

#items{
    display: flex;
    flex-flow: row wrap;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40%;
    margin: 1rem;
    color: #97EFE9;
}


.item img{
    max-width: 30%;
    max-height: 40%;
    margin-bottom: 1rem;
    border-radius: 50%;
}

@media screen and (max-width: 515px) {
    .inner{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .inner > *{
        padding-left: 0;
    }
}

@media screen and (min-width: 516px) {
    aside ul{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    aside li{
        display: flex;
        justify-content: center;
        margin: 10px;
        padding: 5px;
        max-width: 80px;
    }
    .item{
        max-width: 30%;
    }
}

