{% extends 'base.html' %}
{% block title %}The Gallery{% endblock %}
{% block content %}
{% load static %}

<h1>The Blancs d'Hotot</h1>

</div>



<div class="row">
    <div class="col-sm-6">
        <div class="card card-1">
            <div class="card-body">
                <div class="container">
                    <div class="col-md-4 px-0">
                        <img src="https://cdn.pixabay.com/photo/2018/03/30/15/11/deer-3275594_960_720.jpg" alt=''
                            class="img-fluid">
                    </div>
                </div>
                <h4 class="card-title">Grand Champion, Green Herb's Crazy Train</h4>
                <p class="card-text">Doe. 2022 PASRBA Blanc d'Hotot Specialty Best In Show in addition to
                    four Best of Breed wins. The first home-grown Green Herb Rabbitry Blanc de Hotot Grand
                    Champion and also 2nd in her class at 2021 ARBA Convention.</p>

            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card card-2">
            <div class="card-body">
                <div class="container">
                    <div class="col-md-4 px-0">
                        <img src="https://cdn.pixabay.com/photo/2018/03/30/15/11/deer-3275594_960_720.jpg" alt=''
                            class="img-fluid">
                    </div>
                </div>
                <h4 class="card-title">Red, White and Blue Rabbitry's Lara</h4>
                <p class="card-text">Doe. 2021 Convention Best of Breed and three other Best of Breed wins.
                    This doe has offspring that are going to 2022 ARBA convention. She has been an important
                    part in growing the rabbitry and will be for a long time to come.
                </p>

            </div>
        </div>
    </div>
</div>
<div class=row>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="container">
                    <div class="col-md-4 px-0">
                        <img src="https://cdn.pixabay.com/photo/2018/03/30/15/11/deer-3275594_960_720.jpg" alt=''
                            class="img-fluid">
                    </div>
                </div>

                </p>

                <h4 class="card-title">Green Herb's Star Lord</h4>
                <p class="card-text">A very promising, fast growing doe. Star Lord has beautiful fur and
                    type. She may be heading to convention this year. Either way, she'll be a great addition
                    to the rabbitry.
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="container">
                    <div class="col-md-4 px-0">
                        <img src="https://cdn.pixabay.com/photo/2018/03/30/15/11/deer-3275594_960_720.jpg" alt=''
                            class="img-fluid">
                    </div>
                </div>

                <h4 class="card-title">Green Herb's Snape</h4>
                <p class="card-text">At five months old, this doe is already making Senior weight. She's
                    heading to convention and will be a great addition to the rabbitry.



                </p>

            </div>
        </div>
    </div>
</div>
<div class=row>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="container">
                    <div class="col-md-4 px-0">
                        <img src="https://cdn.pixabay.com/photo/2018/03/30/15/11/deer-3275594_960_720.jpg" alt=''
                            class="img-fluid">
                    </div>
                </div>
                <h4 class="card-title">Green Herb's Benny</h4>
                <p class="card-text">Benny is a six month old buck that is also not showable due to ear
                    spots but has potential to be
                    the new herd buck.


                </p>

            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="container">
                    <div class="col-md-4 px-0">
                        <img src="https://cdn.pixabay.com/photo/2018/03/30/15/11/deer-3275594_960_720.jpg" alt=''
                            class="img-fluid">
                    </div>
                </div>
                <h4 class="card-title">Green Herb's Doc Holliday</h4>
                <p class="card-text">Doc Holliday is not quite five months old but his fur is luxurious and
                    his type also makes him a strong candidate as a herd buck.

                </p>

            </div>
        </div>
    </div>
</div>
<br>
<br>

{% endblock %}