{% extends 'base.html' %}
{% block title %}The Gallery{% endblock %}
{% block content %}
{% load static %}

<h1>The Rex</h1>
</div>



<div class="row">
    <div class="col-sm-6">
        <div class="card card-1">
            <div class="card-body">
                <div class="container">
                    <div class="col-md-4 px-0">
                        <img src="https://cdn.pixabay.com/photo/2018/03/30/15/11/deer-3275594_960_720.jpg" alt=''
                            class="img-fluid">
                    </div>
                </div>
                <h4 class="card-title">Grand Champion, Green Herb's Patience</h4>
                <p class="card-text">White doe. This doe has some small wins. Her dense, plush coat and
                    excellent type make her a solid contender at the 2022 ARBA convention</p>

            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card card-2">
            <div class="card-body">
                <div class="container">
                    <div class="col-md-4 px-0">
                        <img src="https://cdn.pixabay.com/photo/2018/03/30/15/11/deer-3275594_960_720.jpg" alt=''
                            class="img-fluid">
                    </div>
                </div>
                <h4 class="card-title">Grand Champion, Green Herb's Paradise City </h4>
                <p class="card-text">Sable doe. This doe has yet to have a big win but lots of variety wins
                    in large classes. She has excellent type and fur and is entered in the 2022 ARBA
                    convention. </p>

            </div>
        </div>
    </div>
</div>
<div class=row>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="container">
                    <div class="col-md-4 px-0">
                        <img src="https://cdn.pixabay.com/photo/2018/03/30/15/11/deer-3275594_960_720.jpg" alt=''
                            class="img-fluid">
                    </div>
                </div>
                <h4 class="card-title">Grand Champion, Green Herb's November Reign</h4>
                <p class="card-text">White buck. November Reign was named for his potential at the 2022 ARBA
                    convention
                    but although he is a gorgeous boy with plush fur and the type to match, he's also a
                    messy boy. November Reign has two best of breeds and two best opposites.
                </p>

            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="container">
                    <div class="col-md-4 px-0">
                        <img src="https://cdn.pixabay.com/photo/2018/03/30/15/11/deer-3275594_960_720.jpg" alt=''
                            class="img-fluid">
                    </div>
                </div>
                <h4 class="card-title">Grand Champion, Green Herb's Rag Doll</h4>
                <p class="card-text">Sable buck. A late bloomer with one BOS win and 4th in his class at the
                    2021 ARBA
                    convention. He has great type, finally has beautiful fur and he has an incredibly sweet
                    disposition. He'll be taking a more active breeding role going into 2023.
                </p>

            </div>
        </div>
    </div>
</div>
<div class=row>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="container">
                    <div class="col-md-4 px-0">
                        <img src="https://cdn.pixabay.com/photo/2018/03/30/15/11/deer-3275594_960_720.jpg" alt=''
                            class="img-fluid">
                    </div>
                </div>
                <h4 class="card-title">Grand Champion, Davis Malcom</h4>
                <p class="card-text">White buck. Two time Best of Breed winner, four time best opposite.
                    This buck has show wins in 2019, 2021 and 2022. He earned Grand Champion at over 2 years
                    old.
                </p>

            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="container">
                    <div class="col-md-4 px-0">
                        <img src="https://cdn.pixabay.com/photo/2018/03/30/15/11/deer-3275594_960_720.jpg" alt=''
                            class="img-fluid">
                    </div>
                </div>
                <h4 class="card-title">Green Herb's Shine Bright</h4>
                <p class="card-text">Sable Marten doe. Not a showable variety but an integral part of the
                    quality of Rex at Green Herb.
                </p>

            </div>
        </div>
    </div>
</div>
<br>
<br>

{% endblock %}