{% extends "chatter/base.html" %}
{% load crispy_forms_tags %}
{%block content  %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend >Join Today</legend>
                {{ form|crispy }}


            </fieldset>
            <div>
                <button  type="submit">Sign up</button>
            </div>
        </form>
        <div ">
            <small >
                Already have an account? <a  href="{% url 'login' %}">Sign in</a>
            </small>

        </div>


    </div>
{% endblock content %}