.input{
    display: block;
}

label{
    display: block;
}

form{
    margin: 1em;
    justify-content: center;
}

/* .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
} */