*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: slategrey;
    color: white;
    height: 100vh;
    width: 100%;
}
/* nav############################################# */
nav{
    height: 4em;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: black;
}

nav div{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    background: black;
    padding: 0.5em;
    border-radius: 1em;
    height: fit-content;
    width: fit-content;
    box-shadow: 0px 0px 5px 5px white;
}

#container h1{
    color: white;
}
/* body############################################ */

#grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
}

#grid{
    display: grid;
    height: 100%;
    width: 100%;
}

#body-title{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#div-form {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

#center-urls{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-top: 1em;
}
#urls{
    max-width: 50%;
    word-break: break-all;
}

#urls p{
    margin: 1em;
}