body {
    background: #c2c2c2;
}
ul#tasks {
    list-style-type: none;
    padding: 0;
}
.icon {
    font-size: 32px;
    text-decoration: none;
    color: white;
}
a:link.icon.delete, a:visited.icon.delete {
    color: #f00;
}
a:hover.icon.delete {
    color: #00f;
}