<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'main/stylesheet.css' %}">
    <script src="https://kit.fontawesome.com/4bbb8391e0.js" crossorigin="anonymous"></script>
    <title>Home</title>
</head>

<body>
    <div id="page-container">
        <div id="content-wrap">

            <header class="header">
                <img src="{% static 'main/logowtext.jpg' %}" width=200px height="auto" position="left">


                <nav>
                    <ul>
                        <li><a href='/'>About</a></li>
                        <li><a href='/main/hotots/'>Blanc d'Hotot</a></li>
                        <li><a href='/main/rex/'>Rex</a></li>
                        <li><a href='/main/gallery/'>Gallery</a></li>
                        <li><a href='/accounts/signup'>Create Account</a></li>
                        <li><a href='/accounts/login/'>Log In</a></li>
                        <li><a href='/accounts/logout'>Log Out</a></li>

                    </ul>
                </nav>

                <main>

                    {% block content %}

                    {% endblock %}

                </main>
                <br>
                <footer class="footer">

                    <a href="mailto:greenherbrabbitry@gmail.com?subject=Website Inquiry">To contact us, click here: <i
                            class="fa-solid fa-envelope"></i></i></a>
                    <p> Background courtesy of Deposit Photots</p>
                </footer>


        </div>
    </div>
</body>