{% extends "cookbook/base.html" %}

{% block content %}
<main role="main" class="container">
    <div class="row">
    <div class="col-md-8">
        {% if cost %}
        <h1>You searched for: {{ searched }}</h1>
        <br>
        {% for recipe in srecipes %}
      <div class="alert alert-{{recipe.tags}}">
        {{ message }}
        
          </div>
          <h2>{{recipe.recipetitle}}</h2>
                
          <br>
          {{recipe.ingredients}}
          <br>
          <br>
          {{recipe.recipelines}}

      {% endfor %}
      
  
    {% else %}
      <h1>hey you for to search for a recipe</h1>    
    {% endif %}
</div>
</div>
</main>
{% endblock %}