<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>


</head>

<body>
    <div class="to-add">
        <h3>URL:</h3>
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" name="url" id="url" placeholder="Submit Long URL Here:">
            <input type="Submit" name="Submit">
        </form>
    </div>

    <div class="history">
        <h3>History:</h3>
        {% for i in url_list %}
        <ul>
            <li>
                <a href="{% url 'shortener:redirect' i.short_url %}" target="_blank">{{ i.short_url }}</a>
            </li>
        </ul>
        {% endfor %}
    </div>



</body>

</html>