<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>shortener</h1>
    <form action="{% url 'shortener:addurl' %}" method="POST" role="form">
        {% csrf_token %}
        {{ form.text }}

    </form>
    
    
    
    {% for url in urllist %}
    
        <li> <a href="{% url 'shortener:reredirect' url.shortcode %}" > {{url.shortcode}} </a> 

        </li>
    
        
   {% endfor %}
    
</body>
</html>

