<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="capstone.js" defer></script>
</head>
<body>
    <div id="app">
        <H1>Flight Finder</H1>
        <input type="text" id="outgoing" placeholder="Outgoing Location" v-model="outgoing">
        <input type="text" id="incoming" placeholder="Incoming Destination" v-model="incoming">
        <input type="text" id= "date" placeholder="Date" v-model="date">
        <button id="submit">Submit</button>
    </div>
</body>
</html>