<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css'%}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OrderUp</title>
</head>
<body> 
    <header>
    <h1>OrderUp!</h1>
    </header>
    <h3>Please fill out the form so we can get your order to you right away!</h3>
    <form action="thankyou/" method="post">
        {% csrf_token %}
        <input type="text" name="first_name" placeholder="First Name" required/><br>
        <input type="text" name="last_name" placeholder="Last Name" required/><br>  
    
    <h4>What would you like for an entree?</h4>
    <select>
        <option value="Chick'N'Burger">Chick'N'Burger</option>
        <option value="FishFo Fillet">FishFo Fillet</option>
        <option value="Mushroom Steak">Mushroom Steak</option>
        <option value="Veggi Platter">Veggi Platter</option>
        <option value="Big Impossible Burger">Big Impossible Burger</option>
      </select><br>
      <h4>Add ons?</h4><br>
        <input type="checkbox" id="Lettuce" name="Lettuce"
             checked>
        <label for="Lettuce">Lettuce</label><br>
        <input type="checkbox" id="" name="Tomatoes"
             checked>
        <label for="Tomatoes">Tomatoes</label><br>
        <input type="checkbox" id="Pickles" name="Pickles"
             checked>
        <label for="Pickles">Pickles</label><br>
        <input type="checkbox" id="" name="Onions"
             checked>
        <label for="Onions">Onions</label><br>
        <input type="checkbox" id="Mayo" name="Mayo"
        checked>
        <label for="Mayo">Mayo</label><br>
        <input type="checkbox" id="Ketchup" name="Ketchup"
        checked>
   <label for="Ketchup">Ketchup</label><br>
      <h4>What would you like for your first side?</h4>
    <select>
        <option value="None">None</option>
        <option value="French Fries">French Fries</option>
        <option value="Carmelized Onions">Carmelized Onions</option>
        <option value="Baked sweet potatoe">Baked sweet potatoe</option>
        <option value="Side salad">Side salad</option>
        <option value="Fresh Fruit">Fresh fruit</option>
        <option value="Baked loaded potatoe">Baked loaded potatoe</option>
      </select>
      <h4>What would you like for your second side?</h4>
    <select>
        <option value="None">None</option>
        <option value="French Fries">French Fries</option>
        <option value="Carmelized Onions">Carmelized Onions</option>
        <option value="Baked sweet potatoe">Baked sweet potatoe</option>
        <option value="Side salad">Side salad</option>
        <option value="Fresh Fruit">Fresh fruit</option>
        <option value="Baked loaded potatoe">Baked loaded potatoe</option>
      </select>
      <h4>How about dessert?</h4>
      <select>
          <option value="None">None</option>
          <option value="Chick'N'Burger">New York Cheesecake</option>
          <option value="FishFo Fillet">Multon Chocolate cake</option>
          <option value="Mushroom Steak">Big Ol' Brownie</option>
          <option value="Veggi Platter">Granny's Apple pie</option>
          <option value="Big Impossible Burger">Carmel tart</option>
          <option value="Mushroom Steak">Everything but the Kitchen Sink IceCream</option><br>
        </select><br>
        <input type="checkbox" id="utensils" name="utensils"
             checked>
        <label for="utensils">Utensils?</label><br>
        <input type="checkbox" id="napkins" name="napkins"
             checked>
        <label for="napkins">Napkins?</label><br>
        <input type="checkbox" id="double bag" name="double bag"
        checked>
        <label for="double bag">Double Bag?</label><br>
        <p><input type="text" name="text" placeholder="Comment"/></p><br>
        <input type="radio" name="option" value="Delivery" required> Delivery<br>
        <input type="radio" name="option" value="Pickup"required> Pick-up<br>
        <input type="radio" name="option" value="Curbside" required> Curbside<br>
        <input type="submit" value="Submit">
        

    
    </form>
    <h6><footer>&copy; Copyright 2022 Faith Cicero</footer></h6>

</body>
</html>