<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
</head>
<body>
    {% extends 'registration/base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
{% comment %} {% if user.is_authenticated %}
Welcome Back {{ user.username }}! {% endcomment %}
{% comment %} 
<form action="{% url 'posts:add_post' %}" method="post">
    {% csrf_token %}
    <label for="post">Post a Chirp</label><br>
    <input type="text" id="post" name="post">
    <input type="submit" value="Chirp!">
</form> {% endcomment %}

{% comment %} {% for post in create_post %}
{{user.username}}<br>
{{post.datetime_created}}<br>
<li>{{ post }}</li><br> {% endcomment %}
{% endfor %}
<p><a href="{% url 'logout' %}">Log Out </a></p>
{% else %}
    <p>You need to login or sign up</p>
    <a href="{% url 'login' %}">Login</a><br>
    <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock %}
</body>
</html>