{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block content %}
{% if user.is_authenticated %}
Welcome Back {{ user.username }}!
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Hall</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/posts.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="#">Dirty Wordy</a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'accounts:profile'  %} ">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:flashcards'  %}">FlashCards</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'posts:add_post' %}">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                    
                </ul>
            </nav>
    <h1>Study Hall</h1>
    <form action="{% url 'posts:add_post' %}" method="post">
        {% csrf_token %}
        <label for="post">Make a Post</label><br>
        <input itemid="input" required type="text" id="post" name="post" placeholder="Enter Study Tips">
        <input type="submit" value="Post">
    </form>
    
    {% for post in create_post %}
    <!-- {{ post.user.username}}<br>
    {{post.datetime_created}}<br>
    <li>{{ post }}</li><br> -->
    <form action="{%  url 'posts:delete' poststore=post %}" method="post">
        {%  csrf_token %}
        <li class="postlist"> 
            <div id="user">⚡{{ post.user.username}}⚡</div><br>
            <div id="upost">{{ post }}</div>
            <div id="date">{{post.datetime_created}}</div><br>
         <button type="submit" name="fav">X</button>
        </form>
        </li>

        

    {% endfor %}
   
    {% endif %}
    {% endblock %}
</body>
</html>
