body {
    color: whitesmoke;
    background: rgb(125, 125, 155);
    justify-content: center;
    align-items: center;

}

form {

    color: whitesmoke;



}

header,
footer {
    height: 150px;
    background-color: rgb(125, 125, 155);
    color: whitesmoke;
    text-align: center;
    font-size: 18px;
    padding: 15px;

}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(125, 125, 155);
    padding: 10px;


}

h1 {
    color: rgb(232, 232, 134);
}

.grid-item {
    background-color: rgb(125, 125, 155);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    color: whitesmoke;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.astext {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-size: 30px;
    text-align: center;
    color: whitesmoke;


}

a:link {
    color: rgb(41, 82, 98);
}

a:visited {
    color: rgb(133, 254, 254)
}

a:active {
    color: rgb(125, 125, 155)
}

a:hover {
    color: rgb(25, 175, 175)
}


.center {
    margin: auto;
    width: 50%;
    border: 20px solid rgb(216, 216, 146);
    padding: 10px;
}