
{% load static %}
<div id="myDIV" class="header">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'grocerylist/style.css' %}"/>
  <h1> Grocery List: </h1>
  <h3> Enter items below to add to your shopping list. Click on the item to mark it as complete. Delete an item by clicking 'X'.  Clear the full list by selecting 'Clear List'. </h3>
 
  <form action = "{% url 'add' %}" method = "POST" role = "form">
  {% csrf_token %}
  {{ form.text }}
  </form>
</div>

<ul id="myUL">
  {% for item in list %}
  	  {% if item.completed %}
	      <li class="checked"> <a href = "{% url 'undoitem' item.id %}"> {{ item.text }} </a>  <a href = "{% url 'deleteitem' item.id %}"><span class="close"> X </span></a> </li>
        
	  {% else %}
	  
    <li> <a href = "{% url 'complete' item.id %}"> {{ item.text }} </a>   <a href = "{% url 'deleteitem' item.id %}"><span class="close"> X </span></a></li>
	  {% endif %}  
  {% endfor %}
</ul>
{% if item.undo %}

<li class="unchecked"> {{item.text}} <a href="{% url 'undoitem' item.id %}">  <span class="close"> X </span> </a>  </li>
  {% endif %}

<a href = "{% url 'deleteall' %}""><span class="clearlist"> Clear List </span></a>
