


.title{
    justify-content: center;
    text-align: center;
    color: red;
    background-color: black;
    display: flex;
    
}
.topnav{
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: white;
    background-color: black;
    word-spacing: 3px;
    
}

.sidenav{
    height: 80%;
    width: 30%;
    position: absolute;
    left: 0;
    top: 10;
    padding-top: 40px;
    background-color: aqua;
    text-size-adjust: auto;
}
    
.sidenav div{
    padding: 8px;
font-size: 44px;
display: block;

}  
    
   
    




.posts{
    margin-left: 87px;
    font-size: 18px;
    
    background-color: black;
    color:white
    
    
   
   
}

.flex{
    display: flexbox;
}

.footer{
    background-color: goldenrod;
}


@media all and (min-width: 768px){
    .title{
        justify-content: center;
        text-align: center;
        color: red;
        background-color: black;
        display: flex;
        
    }
    .topnav{
        display: flex;
        justify-content: space-around;
        text-align: center;
        color: white;
        background-color: black;
        word-spacing: 3px;
        
    }
    
    .sidenav{
        height: 80%;
        width: 20%;
        position: absolute;
        left: 0;
        top: 10;
        padding-top: 40px;
        background-color: aqua;
        text-size-adjust: auto;
        justify-content: right;
        align-items: center;
        text-align: center;
        font-size: 30px;
    }
        
    .sidenav div{
        padding: 8px;
    font-size: 44px;
    display: block;
    
    }  
        
       
        
    
    
    
    
    .posts{
        margin-left: 250px;
        font-size: 30px;
        text-align: center;
        justify-content: center;
        align-content: space-between;
        background-image: url("images/Cheeseburger.jpg");
        background-repeat: no-repeat;
        color: black;
        background-color: white;
        
        
        
       
       
    }
    
    .flex{
        display: flexbox;
    }
    .footer{
        text-align: right;

    }
}

@media all and (min-width: 1000px){
    .title{
        justify-content: center;
        text-align: center;
        color: red;
        background-color: black;
        display: flex;
        font-size: 50px;
        
    }
    .topnav{
        display: flex;
        justify-content: space-around;
        text-align: center;
        color: white;
        background-color: black;
        word-spacing: 3px;
        font-size: 50px;
        
    }
    
    .sidenav{
        height: 80%;
        width: 200px;
        position: absolute;
        left: 0;
        top: 10;
        padding-top: 40px;
        background-color: aqua;
        text-size-adjust: auto;
        justify-content: left;
        align-items: center;
        text-align: center;
        font-size: 30px;
    }
        
    .sidenav div{
        padding: 8px;
    font-size: 44px;
    display: block;
    
    }  
        
       
        
    
    
    
    
    .posts{
        margin-left: 250px;
        font-size: 30px;
        text-align: center;
        justify-content: center;
        align-content: space-between;
        background-image: url("images/Cheeseburger.jpg");
        background-repeat: no-repeat;
        
        
        
       
       
    }
    
    .flex{
        display: flexbox;
    }

    footer{
        text-align: center;
        font-size: larger;
        background-color: coral;

    }
}