

.grid {
    display: grid;
    grid-template-columns: auto 400 400;
    grid-gap: 1em;
  }
  
  header, footer {
    grid-column: 1 / 4;
  }


  


  @media all and (max-width: 1900px)  {
    .grid {
    
      display: grid;
      grid-template-columns: auto;
      grid-gap: 1em
     
    }
    aside,
    article {
      grid-column: 1 / 4;
      overflow: scroll;
  
    }

    
  }


  
  .flex {
    display: flex;
    flex-wrap: wrap;
}

img {
    max-width: 100%;
    height: auto;
    align-items: left;
    justify-content: left;
  }



.image {

    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    display: block;
    margin-left: 25px;
    width: 50%;
   
    }


img.scaled {
    width: 100%;
  }

.responsive {
    width: 100%;
    height: auto;
  }

  body {
    margin: 0 auto;
    padding: 1em 0;
    background:rgb(137,27,27);
   
  }
  

  .tile_div a {
    display: block;
    float: bottom;
    height: 50px;
    width: 100px;
    margin-right: 5px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
}

.title_div a.last {
    margin-right: 0;
}




  aside,
  article
 {

    background: #ecb557f6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55vh;
    padding: 3em 0;
    font-family: Garamond, serif; 
    font-size: 20px; 
    color: rgb(137, 27, 27);


 
  }

  .btn-wide {
    width: 90px;
    text-align: left;
    padding: 10px; 
    font-size: 20px;
    color:rgb(137, 27, 27);
    background-color: #6a9ab2;
  }
  .btn-wide .icon {
    float: right;
  }


  
  header {
    background-color: rgb(106, 154, 178);
    color: #ffffff;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 15vh;

    
    
  }
   footer {
    background-color: rgb(106, 154, 178);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: right;
    height: 15vh;
 
   

  }

  .header
{
    text-shadow: 2px 2px 2px rgb(71, 65, 65);

}

