body{
    background-color: rgb(190, 190, 190);
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#app {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column;

    width: 500px;
}

#to_do{
    background-color: rgb(233, 162, 162);
    width: 500px;
}

#completed{
    background-color: rgb(157, 226, 163);
    width: 500px;
    text-decoration: line-through;
}

li{
    width: 100%;

    display: flex;
    margin: 0;
    padding: 0;
}

.itemContainer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.button {
    height: 30px;
}