body {
    background-color: #55ffff;
    color: #2a2a2a;
}

p {
    color: #2a2a2a;
    
}



.header {
    display: inline-flex;
    margin: auto;
    
     
}

.logo {
    width: fit-content;
}



