{% extends 'base.html' %}

{% load static %}
{% block content %}
    
<p>This is the for the users / home page</p>

    <form action="" method="POST">

        {% csrf_token %}
        <select name="user_exercise_search" id="dropdown">
            <option value="Abs">Abs</option>
            <option value="Arms">Arms</option>
            <option value="Back">Back</option>
            <option value="Calves">Calves</option>
            <option value="" disabled></option>
            <option value="Cardio">Cardio</option>
            <option value="Chest">Chest</option>
            <option value="Legs">Legs</option>
            <option value="Shoulders">Shoulders</option>
        </select>
        <input type="submit" value="search">
    </form>



{% for exercise in object_list %}
    <p>{{exercise.name}}</p>
{% endfor %}
{% endblock content %}


