<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workouts</title>
</head>
<body>
    <p>This is the for the users / home page</p>
    
    <form action="{% url 'exercise:results'%}" method="POST">
        {% csrf_token %}
        <select name="user_exercise_search" id="dropdown">
            <option value="10">Abs</option>
            <option value="8">Arms</option>
            <option value="12">Back</option>
            <option value="14">Calves</option>
            <option value="" disabled></option>
            <option value="15">Cardio</option>
            <option value="11">Chest</option>
            <option value="9">Legs</option>
            <option value="13">Shoulders</option>
        </select>
        <input type="submit" value="search">
    </form>

    <a href="{% url 'exercise:results'%}">Exercise results</a>
</body>
</html>


