* {
    box-sizing: border-box;
    padding: 0px;
    background-color: #FECD45;
    font-family: sans-serif;
}

html, body {
    display: grid;
    font-size: 1em;
    padding-top: 60px;
    width: 100%;
}
#container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 5px;
    min-height: 100vh;
}

.header {
    grid-column-start: 1;

}

.menulinks {
    
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    list-style: none;
    margin: 10px;
    
    
}

.menulinks a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}

.menulinks a:hover {
    background-color: #2568FB;
    
}

@media all and (max-width: 600px) {

    div.main {
        padding-top: 160px;
    }

    div.header {
        position: fixed;
        width: 100%;
        top: 0;
    }

    .menulinks {
        display: flex;
        flex-flow: column wrap;
        text-align: center;
        border-top: solid;
        border-bottom: solid;
        padding: 10px;
        position: sticky;
        top: 0;
        width: 100%;
    }


    

}