body{
    background-color: darkgray;
    text-align: center;
    align-items: center;
    
}

ul li{
    
    user-select: none;
    
}

ul li.checked{
    background: darkgray;
    color: black;
    text-decoration: line-through;
}

ul li.unchecked{
    background-color: darkgray;
    text-decoration: none;
}