body {
    color: whitesmoke;
    background: rgb(125, 125, 155);
    justify-content: center;
    align-items: center;

}




li {

    color: navy;
    box-sizing: border-box;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 20%;
    list-style-type: none;
    font-size: 22px;
}