<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome to my grocery list</h1>
    <form action="/add/" method="POST">
        {% csrf_token %}
        <input type="text" name="new_item">
        <button type="submit">Add</button>
    </form>
    <ul>
        <h3>Incomplete List</h3>
        {% for item in grocery_list %}
        {% if item.complete == False %}
        <li>
            {{ item }}
            <a href="/complete/{{ item.id }}">Complete</a>
            <a href="/delete/{{ item.id }}">Delete</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    <ul>
        <h3>Completed List</h3>
        {% for item in grocery_list %}
        {% if item.complete == True %}
        <li>
            {{ item }}
            <a href="/undo/{{ item.id }}">Undo</a>
            <a href="/delete/{{ item.id }}">Delete</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</body>
</html>