body {
    background-color: #ffb703;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    font-style: oblique;
    
}

.information {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}