{% load static %}
<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body>

  <header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="126" height="32" role="img" aria-label="CHIRP">
            <image href="{% static 'logo.svg' %}"></image>
          </svg>
        </a>

        <div class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        </div>

        <div class="text-end">
          <ul class="nav col-md-12 justify-content-center">
            <li class="nav-item me-2"><a href="{% url 'home' %}" class="btn btn-outline-light btn-primary px-2">Home</a></li>
            {% if user.is_authenticated %}
            <li class="nav-item me-2"><a href="{% url 'profile' user %}" class="btn btn-outline-light btn-primary px-2">My Profile</a></li>
            <li class="nav-item me-2"><a href="{% url 'logout' %}" class="btn btn-outline-light btn-primary px-2">Log Out</a></li>
            {% else %}
            <li class="nav-item me-2"><a href="{% url 'login' %}" class="btn btn-outline-light btn-primary px-2">Log In</a></li>
            <li class="nav-item"><a href="{% url 'signup' %}" class="btn btn-outline-light btn-primary px-2">Sign Up</a></li>
            {% endif %}
          </ul>
        </div>

      </div>
    </div>
  </header>

  <main class="container text-muted">
    {% block content %}
    {% endblock %}
  </main>

  <div class="container">

    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">

      <ul class="nav col-md-12 justify-content-center">
        <li class="nav-item"><a href="{% url 'home' %}" class="nav-link px-2 text-muted">Home</a></li>
        {% if user.is_authenticated %}
        <li class="nav-item"><a href="{% url 'profile' user %}" class="nav-link px-2 text-muted">My Profile</a></li>
        <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link px-2 text-muted">Log Out</a></li>
        {% else %}
        <li class="nav-item"><a href="{% url 'login' %}" class="nav-link px-2 text-muted">Log In</a></li>
        <li class="nav-item"><a href="{% url 'signup' %}" class="nav-link px-2 text-muted">Sign Up</a></li>
        {% endif %}
      </ul>

    </footer>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>

</body>

</html>