<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}straight chirpin zomg{% endblock %}

{% block content %}


{% if user.is_authenticated %}
<form action="{% url 'chirp' %}" method="post">
  {% csrf_token %}
  <div class="form-group mt-5 mb-2">
    <textarea class="form-control"  name="body" id="chirp" rows="3" placeholder="Whatcha wanna chirp about?"></textarea>
    <br>
    <button class="btn btn-primary" type="submit">Chirp it!</button>
  </div> 
</form>
{% endif %}

{% if chirps %}
<div class="mt-3">
{% for chirp in chirps %}
<blockquote>{{ chirp.chirp }}<br>– <a href="{% url 'profile' chirp.authuser %}">{{ chirp.authuser }}</a> at {{ chirp.timestamp }}</blockquote>
{% endfor %}
</div>
{% else %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">:'(</h1>
  <p class="lead">There are no chirps. Please {% if not user.is_authenticated %}<a href="{% url 'signup' %}">sign up</a> and{% endif %} make one!</p>
</div>
{% endif %}


{% endblock %}